@import 'tailwindcss';

:root {
    --primary: #2F73F2;
    --secondary: #102C46;
    --SereneSky: #8FACC6;
    --ElectricAqua: #46C4FF;
    --RegalBlue: #13439B;
    --LightYellow: #FFE15A;
    --IcyBreeze: #EFFBFF;
    --PaleCyan: #CFF4FF;
    --Aquamarine: #7DF9C2;
    --MidnightNavyText: #102D47;
    --SlateBlueText: #547593;
    --PaleSkyBlu: #E0F7FF;
    --MistyTealText: #6F9DAC;
    --OliveDrab: #73713C;
    --CadetBlue: #879AAC;
    --Dandelion: #F2EC1D;
    --SkyBlueMist: #C0D5FB;
    --LightSkyBlue: #B2D5EA;
    --Salem: #1C7C52;
    --YellowRating: #FAB446;
    --PaleCerulean: #A3BBD1;
    --PeriwinkleBorder: #C0D5FB;
    --LightBlueBorder: #4F8BFB;
    --OceanDepthsDarkBorder: #224767;
    --PowderBlueBorder: #E1F1F6;
    --darkLineColor: #24497c;
    --darkmode: #011120;
    --darklight: #0d1a2c;
    --darktext: #7F8487;
    --dark_border: #224767;
    --dark_input: #1B2430;
}

html {
    scroll-behavior: smooth;
    @apply overflow-x-hidden;
}

body {
    @apply overflow-x-hidden;
    font-family: Inter, 'sans-serif';
}


.thumb .slick-list .slick-track {
    @apply flex items-center gap-5;
}

.thumb .slick-next:before,
.thumb .slick-prev:before {
    @apply text-(--primary);
}

.upcoming .slick-next:before,
.upcoming .slick-prev:before {
    @apply text-(--primary);
}

.slick-dots li.slick-active button:before {
    @apply text-(--primary);
}

.slick-dots li button:before {
    @apply text-blue-700;
}


/*  */
.year_slider .slick-list {
    padding: 0px 15% 0 0 !important;
}

.upcoming .slick-slide {
    @apply px-2;
}

.swiper-button-prev>svg,
.swiper-button-next>svg {
    @apply w-6! h-6!;
}

.testimonial .slick-prev {
    @apply left-[90%];
}

.testimonial .slick-next {
    @apply left-[95%];
}

.testimonial .slick-prev,
.testimonial .slick-next {
    @apply top-[28%];
}

.testimonial .slick-prev:before,
.testimonial .slick-next:before {
    @apply text-[32px] leading-10 text-(--primary) lg:inline-block hidden;
}

.testimonial .slick-prev,
.testimonial .slick-next {
    @apply z-10;
}

.upcoming .slick-next:before,
.upcoming .slick-prev:before,
.thumb .slick-next:before,
.thumb .slick-prev:before {
    @apply lg:inline-block hidden;
}

section {
    @apply pt-28 pb-10 md:pt-32 md:pb-20;
}

input::placeholder,
textarea::placeholder {
    @apply text-(--SlateBlueText) text-[1.06rem] font-normal;
}

h1 {
    @apply md:text-[3.3rem] text-[2.5rem] font-bold text-(--MidnightNavyText);
}

h2 {
    @apply md:text-[2.5rem] text-[1.75rem] font-bold text-(--MidnightNavyText);
}

.btn_primary {
    @apply bg-(--primary) text-white py-3 px-8 rounded-lg cursor-pointer transition-all duration-400 inline-block;
}

.container {
    @apply w-full block max-w-1200 m-auto py-0 px-7;
}

select {
    @apply appearance-none bg-[url('/images/contact-page/dropdown.svg')] bg-no-repeat bg-position-[90%_50%];
}

/* Primary Button Hover */
.btn {
    @apply relative inline-block bg-transparent border-none cursor-pointer before:absolute before:content-[''] after:absolute after:content-[''];
}

.btn span {
    @apply relative inline-block text-[1.06rem] font-medium top-0 left-0 w-full py-2 px-4 md:py-4 md:px-7 transition-all duration-400;
}

.btn-1::before {
    @apply bg-(--primary) transition-all duration-400;
}

.btn-1 span {
    @apply text-white border border-solid border-(--primary) rounded-lg transition-all duration-400;
}

.btn-1:hover span {
    @apply text-(--primary) transition-all duration-400;
}

.btn-1:hover svg {
    @apply fill-(--primary) transition-colors duration-500;
}

.btn.hover-filled-slide-down::before {
    @apply bottom-0 left-0 right-0 h-full w-full;
}

.btn.hover-filled-slide-down:hover::before {
    @apply h-0;
}

/* Button Hover End */

/* Outline Primary Button Hover */
.btn_outline {
    @apply relative inline-block bg-transparent border-none cursor-pointer before:absolute before:content-[''] after:absolute after:content-[''];
}

.btn_outline span {
    @apply relative inline-block text-[1.06rem] font-medium top-0 left-0 w-full py-2 px-4 md:py-4 md:px-7 transition-all duration-400;
}

.btn-2::before {
    @apply bg-(--primary) transition-all duration-400 rounded-lg;
}

.btn-2 span {
    @apply text-(--primary) border border-solid border-(--primary) rounded-lg transition-all duration-400;
}

.btn-2:hover span {
    @apply text-white transition-all duration-400;
}

.btn-2:hover svg {
    @apply fill-white transition-colors duration-500;
}

.btn_outline.hover-outline-slide-down::before {
    @apply top-0 left-0 right-0 h-0 w-full;
}

.btn_outline.hover-outline-slide-down:hover::before {
    @apply h-full;
}

/* Outline Primary Button Hover End */

.blog-details p,
.blog-details hr {
    @apply mb-8 text-(--SlateBlueText);
}

.blog-details strong {
    @apply font-bold;
}

.blog-details ul {
    @apply mb-8 list-inside list-disc space-y-3 text-(--SlateBlueText);
}

.blog-details ol {
    @apply mb-8 list-inside list-decimal space-y-3;
}

.blog-details h1 {
    @apply mb-8 text-3xl font-bold text-(--secondary) sm:text-4xl md:text-[2.5rem];
}

.blog-details h2 {
    @apply mb-8 text-2xl font-bold text-(--secondary) sm:text-3xl md:text-[2.25rem];
}

.blog-details h3 {
    @apply mb-6 text-2xl font-bold sm:text-[1.75rem];
}

.swiper-slide-thumb-active img {
  opacity: 1;
  border: 2px solid var(--primary);
}

.swiper-slide-thumb-active {
  transform: scale(1.05);
}
